#top-paint.hidden::after {
  width: 0%;
}

#top-paint.animate::after {
  transition: width 0.75s cubic-bezier(1, -0.3, 0.45, 1);
}

body {
  position: relative;
  width: 100vw;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  color: #000;
  font-family: 'CocogoosePro', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 15px;
  padding-top: 20px;
}

h2 span {
  display: inline-block;
}

h2:not(:root:root) {
  /* SAFARI */
  letter-spacing: -3px;
}

h2 #paint {
  color: #fff;
  position: relative;
  font-size: 50px;
  display: inline;
  /*
        &.left:active::after {
            transform: rotate(3deg);
        }
        &.right:active::after {
            transform: rotate(-3deg);
        }*/
}

h2 #paint a {
  color: #fff;
}

h2 #paint::after {
  content: '';
  position: absolute;
  background: #2980FF;
  width: 113%;
  height: 110%;
  right: -4%;
  top: -3%;
  border-radius: 3px;
  z-index: -1;
  transition: 0.2s ease-out;
}

h2 #paint.left::after {
  transform: rotate(-3deg);
}

h2 #paint.right::after {
  transform: rotate(3deg);
}

h3 {
  color: #000;
  font-family: 'CocogoosePro', sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  margin: 0;
}

h3:not(:root:root) {
  /* SAFARI */
  letter-spacing: -2px;
}

p {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 15px;
}

p span {
  display: inline-block;
}

.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

nav.animate {
  transition: transform 0.2s ease-in-out, background 0.1s ease-out;
}

nav.animate::before, nav.animate::after {
  transition: opacity 0.1s ease-out;
}

nav {
  height: 55px;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
}

nav::before, nav::after {
  content: '';
  position: absolute;
  top: 0;
  width: calc(calc(50vw - (1500px / 2)) + 2px);
  height: inherit;
  background: #fff;
  opacity: 0;
}

nav::before {
  left: 1px;
  transform: translateX(-100%);
}

nav::after {
  right: 1px;
  transform: translateX(100%);
}

nav #logo {
  padding-left: 50px;
  width: 30px;
  height: 30px;
  background-image: url("../img/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

nav .nav-bar {
  padding-right: 30px;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0px;
  right: 0;
  margin: 0;
  height: inherit;
}

nav .nav-bar__item {
  margin: 0;
  font-family: 'CocogoosePro', sans-serif;
  font-weight: normal;
  letter-spacing: 0px;
  font-size: 15px;
  display: inline-block;
  margin-left: 20px;
  color: #2980FF;
  padding: 5px 10px;
}

nav .nav-bar__item:last-child {
  padding-right: 0px;
}

nav .nav-bar__item:last-child.nav-bar__item--filled::after {
  width: calc(100% + 10px);
}

nav .nav-bar__item--filled {
  color: #fff;
  position: relative;
}

nav .nav-bar__item--filled::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100%);
  height: calc(100%);
  background: #2980FF;
  border-radius: 3px;
  z-index: -1;
}

nav .nav-bar__item--filled.left::after {
  transform: rotate(-3deg);
}

nav .nav-bar__item--filled.right::after {
  transform: rotate(3deg);
}

nav.nav--overlay {
  background: #fff;
}

nav.nav--overlay::before, nav.nav--overlay::after {
  opacity: 1;
}

nav.nav--hidden {
  transform: translate(-50%, -100%);
}

.container {
  position: relative;
  width: 100vw;
  height: inherit;
  overflow-x: hidden;
}

.btn {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  border: 2px solid #000;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.btn::after {
  content: '';
  position: absolute;
  background: #2980FF;
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  border-radius: 4px;
  z-index: -1;
  transition: 0.15s ease-out;
}

.btn--left::after {
  right: 3px;
}

.btn--right::after {
  left: 3px;
}

.btn--top::after {
  bottom: 3px;
}

.btn--bot::after {
  top: 3px;
}

.btn.btn--left.btn--top:active::after, .btn.btn--left.btn--top:focus::after {
  transform: translate(10px, 10px);
}

.btn.btn--left.btn--bot:active::after, .btn.btn--left.btn--bot:focus::after {
  transform: translate(10px, -10px);
}

.btn.btn--right.btn--top:active::after, .btn.btn--right.btn--top:focus::after {
  transform: translate(-10px, 10px);
}

.btn.btn--right.btn--bot:active::after, .btn.btn--right.btn--bot:focus::after {
  transform: translate(-10px, -10px);
}

.btn--sm {
  font-size: 18px;
  padding: 10px 20px;
}

.contact {
  clear: both;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 250px;
  margin-bottom: 220px;
}

.contact .contact__heading {
  position: relative;
  display: inline-block;
}

.contact .contact__heading h2 {
  margin-left: 50px;
}

.contact .contact__heading h2 #paint::after {
  width: 110%;
  right: -7%;
  top: 14%;
}

.contact .contact__heading::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(calc(100% + 100px), calc(-50% - 20px));
  width: 1500px;
  height: 700px;
  background-image: url("../img/plane.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

footer {
  height: 32px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .footer__copy {
  display: inline-block;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-left: 15px;
}

footer .footer__links {
  display: inline-block;
  margin-right: 10px;
}

footer .footer__links #github, footer .footer__links #linkedin {
  height: 32px;
  width: auto;
  display: inline-block;
  margin-right: calc(10px - 4px);
}

@media (max-width: 1250px) {
  .contact {
    padding-top: 200px;
    margin-bottom: 200px;
  }
  .contact .contact__heading::after {
    transform: translate(calc(100% + 75px), -50%);
    width: 900px;
    height: 600px;
  }
  h2 {
    font-size: 32px;
    line-height: 42px;
  }
  h2:not(:root:root) {
    /* SAFARI */
    letter-spacing: -2px;
  }
  h2 #paint {
    font-size: 42px;
  }
}

@media (max-width: 1000px) {
  .contact {
    padding-top: 140px;
  }
}

@media (max-width: 825px) {
  .contact {
    padding-top: 120px;
  }
  .contact .contact__heading h2 {
    margin-left: 30px;
  }
  .contact .contact__heading::after {
    transform: translate(calc(100% + 60px), -50%);
    width: 800px;
  }
}

@media (max-width: 700px) {
  h2 {
    font-size: 28px;
    line-height: 35px;
  }
  h2 #paint {
    font-size: 35px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 18px;
    line-height: 27px;
  }
  .contact {
    padding-top: 150px;
    margin-bottom: 180px;
  }
  .contact .contact__heading::after {
    transform: translate(calc(100% + 50px), -50%);
    width: 700px;
  }
}

@media (max-width: 600px) {
  nav #logo {
    padding-left: 25px;
  }
  nav .nav-bar {
    padding-right: 15px;
  }
  nav .nav-bar__item {
    margin-left: 10px;
  }
  h2 {
    font-size: 26px;
    line-height: 34px;
  }
  h2 #paint {
    font-size: 36px;
  }
  .contact {
    padding-top: 300px;
    margin-bottom: 100px;
  }
  .contact .contact__heading h2 {
    margin-left: 20px;
  }
  .contact .contact__heading::after {
    transform: translate(calc(70% + 65px), calc(-50% - 20px)) rotate(180deg) scaleX(-1);
    width: 800px;
    height: 400px;
  }
}

@media (max-width: 485px) {
  .contact h2 {
    margin-left: 30px;
  }
}

@media (max-width: 370px) {
  nav #logo {
    width: 25px;
    height: 25px;
    padding-left: 25px;
  }
  nav .nav-bar {
    padding-right: 15px;
  }
  nav .nav-bar__item {
    margin-left: 5px;
    font-size: 14px;
  }
  .contact {
    padding-top: 270px;
    margin-bottom: 70px;
  }
  .contact .contact__heading::after {
    transform: translate(calc(65% + 65px), calc(-50% - 10px)) rotate(180deg) scaleX(-1);
    width: 650px;
    height: 400px;
  }
}

nav .nav-bar__item {
  color: #fff;
}

nav .nav-bar__item--filled {
  color: #2980FF;
}

nav .nav-bar__item--filled::after {
  background: #fff;
}

nav.nav--overlay .nav-bar__item {
  color: #2980FF;
}

nav.nav--overlay .nav-bar__item--filled {
  color: #fff;
}

nav.nav--overlay .nav-bar__item--filled::after {
  background: #2980FF;
}

.hero {
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 60px;
  margin-bottom: 300px;
}

.hero__type {
  position: relative;
  margin-top: 350px;
  display: inline-block;
  width: 48%;
  padding-right: 20px;
  z-index: 5;
}

.hero__type__heading {
  color: #000;
  font-family: 'CocogoosePro', sans-serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 75px;
  text-align: right;
  margin: 0;
  margin-bottom: 20px;
}

.hero__type__heading:not(:root:root) {
  /* SAFARI */
  letter-spacing: -3px;
}

.hero__type__heading span {
  color: #fff;
  position: relative;
  font-size: 70px;
}

.hero__type__heading span::after {
  content: '';
  position: absolute;
  background: #2980FF;
  width: 125%;
  height: 102%;
  left: -18%;
  top: -5%;
  transform: rotate(3deg);
  border-radius: 3px;
  z-index: -1;
}

.hero__type .btn {
  float: right;
}

.hero__img {
  display: inline-block;
  position: absolute;
}

.hero__img__laptop {
  width: 800px;
  height: 800px;
  background-image: url("../img/laptop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.hero__img__laptop::after {
  content: '';
  position: absolute;
  width: 120%;
  height: 120%;
  border-radius: 50%;
  top: -30%;
  right: -30%;
  background: #2980FF;
  z-index: -2;
}

.introduction {
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.introduction p {
  max-width: 550px;
  padding-right: 30px;
}

.introduction h2 {
  margin-left: 50px;
  padding-right: 30px;
}

.introduction .btn, .introduction p {
  margin-left: 120px;
}

.introduction #hidden {
  display: none;
}

.projects {
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.projects h2 {
  text-align: right;
  margin-bottom: 50px;
  margin-right: 50px;
}

.projects .featured {
  height: 400px;
  position: relative;
  margin-bottom: 100px;
}

.projects .featured:last-child {
  margin-bottom: 0px;
}

.projects .featured--left .featured__img {
  left: 0;
}

.projects .featured--left .featured__txt {
  left: calc(100% - 500px);
  text-align: left;
}

.projects .featured--left .featured__txt h3, .projects .featured--left .featured__txt p, .projects .featured--left .featured__txt .btn {
  margin-left: 40px;
}

.projects .featured--left .featured__txt p {
  float: left;
}

.projects .featured--left .featured__txt .btn {
  float: left;
  clear: left;
}

.projects .featured--right .featured__img {
  right: 0;
}

.projects .featured--right .featured__txt {
  right: calc(100% - 500px);
  text-align: right;
}

.projects .featured--right .featured__txt h3, .projects .featured--right .featured__txt p, .projects .featured--right .featured__txt .btn {
  margin-right: 40px;
}

.projects .featured--right .featured__txt p {
  float: right;
}

.projects .featured--right .featured__txt .btn {
  float: right;
  clear: right;
}

.projects .featured__img {
  position: absolute;
  width: calc(100% - 500px);
  height: inherit;
  background: #2980FF;
  display: inline-block;
  border-radius: 15px;
}

.projects .featured__txt {
  width: 500px;
  display: inline-block;
  position: absolute;
  bottom: 0;
}

.projects .featured__txt h3 {
  margin-bottom: 10px;
}

.projects .featured__txt p {
  max-width: 240px;
  line-height: 26px;
  margin-bottom: 15px;
}

#watchr .featured__img {
  background: #0F1923;
}

#watchr .featured__img::before, #watchr .featured__img::after {
  content: '';
  position: absolute;
  background: #fff;
  z-index: 2;
}

#watchr .featured__img::before {
  width: 110%;
  height: 150px;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
}

#watchr .featured__img::after {
  height: 100%;
  width: 150px;
  top: 0;
  right: 0;
  transform: translateX(100%);
}

#watchr .featured__img #show-cards {
  position: absolute;
  top: 0;
  width: 1190px;
  transform: translate(-60px, -45px);
}

#camd .featured__img {
  background: #F7F7F7;
  z-index: 3;
}

#camd .featured__img::before, #camd .featured__img::after {
  content: '';
  position: absolute;
  background: #fff;
  left: 0;
  z-index: 5;
}

#camd .featured__img::before {
  width: 100%;
  height: 40px;
  bottom: 0;
  transform: translateY(100%);
}

#camd .featured__img::after {
  height: 100%;
  width: 30px;
  transform: translateX(-100%);
}

#camd .featured__img #graphic, #camd .featured__img #design {
  display: inline-block;
  position: absolute;
  font-family: 'Helvetica', 'Arial', sans-serif;
  bottom: 0;
  right: 0;
}

#camd .featured__img #graphic {
  color: #000;
  opacity: 0.4;
  font-size: 140px;
  transform: translate(130px, -120px) rotate(90deg);
}

#camd .featured__img #design {
  color: #76CABE;
  font-size: 278px;
  transform: translate(-200px, 35px);
}

#camd .featured__img #layout {
  position: absolute;
  width: 750px;
  height: 170px;
  right: 0;
  top: 0;
  transform: translate(-207px, 0px);
  background: url("../img/camd.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

#josh .featured__img::before, #josh .featured__img::after {
  content: '';
  position: absolute;
  background: #fff;
  z-index: 2;
}

#josh .featured__img::before {
  width: 110%;
  height: 90px;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
}

#josh .featured__img #josh-laptop {
  position: absolute;
  top: 0;
  height: calc(100% + 120px);
  transform: translate(40px, -40px);
}

@media (max-width: 1500px) {
  .hero__type {
    margin-top: 300px;
  }
  .hero__type__heading {
    font-size: 50px;
    line-height: 65px;
  }
  .hero__type__heading span {
    font-size: 60px;
  }
  .hero__img__laptop {
    width: 750px;
    height: 750px;
  }
  .projects .featured--left .featured__img {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .projects .featured--right .featured__img {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

@media (max-width: 1400px) {
  .projects .featured--left .featured__txt {
    left: calc(100% - 400px);
  }
  .projects .featured--right .featured__txt {
    right: calc(100% - 400px);
  }
  .projects .featured__img {
    width: calc(100% - 400px);
  }
  .projects .featured__txt {
    width: 400px;
  }
}

@media (max-width: 1250px) {
  .hero {
    margin-bottom: 250px;
  }
  .hero__type {
    width: 50%;
    margin-top: 250px;
  }
  .hero__type__heading {
    font-size: 40px;
    line-height: 50px;
  }
  .hero__type__heading:not(:root:root) {
    /* SAFARI */
    letter-spacing: -2px;
  }
  .hero__type__heading span {
    font-size: 50px;
  }
  .hero__img__laptop {
    width: 600px;
    height: 600px;
  }
  .introduction {
    margin-bottom: 100px;
  }
}

@media (max-width: 1000px) {
  nav #logo {
    background-image: url("../img/logo-white.png");
  }
  nav.nav--overlay {
    background: #2980FF;
  }
  nav.nav--overlay::before, nav.nav--overlay::after {
    background: #2980FF;
  }
  nav.nav--overlay .nav-bar__item {
    color: white;
  }
  nav.nav--overlay .nav-bar__item--filled {
    color: #2980FF;
    background: #fff;
  }
  .hero {
    margin-bottom: 360px;
  }
  .hero__type {
    width: calc(100% - 40px);
    margin-top: 210px;
  }
  .hero__type__heading {
    color: #fff;
  }
  .hero__type__heading span {
    color: #2980FF;
  }
  .hero__type__heading span::after {
    background: #fff;
    width: 110%;
    left: -5%;
    right: -5%;
    top: -5%;
  }
  .hero__type .btn {
    color: #2980FF;
    border: none;
    background: #fff;
    font-weight: 500;
  }
  .hero__type .btn::after {
    background: none;
    width: 100%;
    height: 100%;
    bottom: -6px;
    left: -6px;
    border: 2px solid #fff;
  }
  .hero__type .btn.btn--top.btn--right:active::after, .hero__type .btn.btn--top.btn--right:focus::after {
    transform: none;
  }
  .hero__img {
    top: 70px;
    left: 0px;
  }
  .hero__img__laptop {
    width: 670px;
    height: 670px;
    left: -80px;
  }
  .hero__img__laptop::after {
    width: 1150px;
    height: 1150px;
    top: -75%;
    right: -79%;
  }
  .introduction {
    margin-bottom: 80px;
  }
}

@media (max-width: 825px) {
  .hero {
    margin-bottom: 300px;
  }
  .hero__type {
    width: calc(100% - 30px);
    margin-top: 150px;
  }
  .hero__type__heading {
    font-size: 35px;
    line-height: 45px;
    color: #fff;
  }
  .hero__type__heading span {
    font-size: 45px;
  }
  .hero__img__laptop {
    width: 550px;
    height: 550px;
  }
  .hero__img__laptop::after {
    width: 1000px;
    height: 1000px;
    top: -90%;
    right: -85%;
  }
  .introduction h2 {
    margin-left: 30px;
  }
  .introduction .btn, .introduction p {
    margin-left: 70px;
  }
  .projects h2 {
    margin-right: 30px;
    margin-bottom: 40px;
  }
  .projects .featured {
    height: auto;
    margin-bottom: 60px;
  }
  .projects .featured--left .featured__txt, .projects .featured--right .featured__txt {
    left: 0;
    text-align: left;
    z-index: 6;
  }
  .projects .featured--left .featured__txt h3, .projects .featured--left .featured__txt p, .projects .featured--left .featured__txt .btn, .projects .featured--right .featured__txt h3, .projects .featured--right .featured__txt p, .projects .featured--right .featured__txt .btn {
    margin-left: 30px;
    margin-right: 0px;
  }
  .projects .featured--left .featured__txt h3, .projects .featured--right .featured__txt h3 {
    margin-top: 20px;
  }
  .projects .featured--left .featured__txt p, .projects .featured--right .featured__txt p {
    float: none;
  }
  .projects .featured--left .featured__txt .btn, .projects .featured--right .featured__txt .btn {
    float: none;
    clear: none;
  }
  .projects .featured--left .featured__txt {
    text-align: right;
  }
  .projects .featured--left .featured__txt h3, .projects .featured--left .featured__txt p, .projects .featured--left .featured__txt .btn {
    margin-left: 0px;
    margin-right: 30px;
  }
  .projects .featured--left .featured__txt p {
    float: right;
  }
  .projects .featured--left .featured__txt .btn {
    float: right;
    clear: right;
  }
  .projects .featured__img {
    position: relative;
    width: 100%;
    height: 350px;
    display: block;
    border-radius: 0px;
  }
  .projects .featured__txt {
    width: 100%;
    position: relative;
  }
  .projects .featured__txt h3 {
    margin-bottom: 10px;
  }
  .projects .featured__txt p {
    max-width: 300px;
    margin-bottom: 20px;
  }
  #watchr .featured__img #show-cards {
    transform: translate(-120px, -55px);
  }
  #camd .featured__img::after {
    display: none;
  }
  #camd .featured__img #graphic {
    font-size: 125px;
    transform: translate(130px, -105px) rotate(90deg);
  }
  #camd .featured__img #design {
    font-size: 240px;
    transform: translate(-165px, 35px);
  }
  #camd .featured__img #layout {
    height: 140px;
    transform: translate(-170px, 0px);
  }
}

@media (max-width: 700px) {
  .hero__type {
    width: calc(100% - 20px);
    margin-top: 150px;
  }
  .hero__type__heading {
    font-size: 32px;
    line-height: 42px;
    color: #fff;
  }
  .hero__type__heading span {
    font-size: 42px;
  }
  .hero__img__laptop {
    width: 550px;
    height: 550px;
    left: -130px;
  }
  .hero__img__laptop::after {
    width: 1000px;
    height: 1000px;
    top: -90%;
    right: -85%;
  }
  .projects .featured--left .featured__txt h3, .projects .featured--right .featured__txt h3 {
    margin-top: 18px;
  }
  .projects .featured__txt h3 {
    margin-bottom: 5px;
  }
  .projects .featured__txt p {
    margin-bottom: 13px;
  }
  #josh .featured__img #josh-laptop {
    height: calc(100% + 100px);
    transform: translate(30px, -20px);
  }
}

@media (max-width: 600px) {
  nav #logo {
    padding-left: 25px;
  }
  nav .nav-bar {
    padding-right: 15px;
  }
  nav .nav-bar__item {
    margin-left: 10px;
  }
  .hero {
    margin-bottom: 500px;
  }
  .hero__type {
    width: calc(100% - 20px);
    margin-top: 20px;
  }
  .hero__type__heading {
    color: #fff;
    margin-bottom: 30px;
  }
  .hero__img {
    top: 160px;
    left: 0px;
  }
  .hero__img__laptop {
    left: -115px;
  }
  .hero__img__laptop::after {
    top: -120%;
    right: -50%;
  }
  .introduction h2 {
    margin-left: 20px;
  }
  .introduction .btn, .introduction p {
    margin-left: 50px;
  }
  .projects h2 {
    margin-right: 20px;
  }
  .projects .featured__img {
    height: 300px;
  }
  #watchr .featured__img::before {
    height: 300px;
  }
  #camd .featured__img::after {
    display: none;
  }
  #camd .featured__img #graphic {
    font-size: 105px;
    transform: translate(115px, -90px) rotate(90deg);
  }
  #camd .featured__img #design {
    font-size: 170px;
    transform: translate(-135px, 18px);
  }
  #camd .featured__img #layout {
    width: 630px;
    height: 140px;
    transform: translate(-150px, 0px);
  }
}

@media (max-width: 485px) {
  .introduction h2 {
    margin-bottom: 12px;
  }
  .introduction h2 #paint::after {
    width: 110%;
  }
  .introduction #hidden {
    display: block;
  }
  .introduction h2, .introduction p, .introduction .btn {
    margin-left: 30px;
  }
  .introduction p {
    margin-bottom: 18px;
  }
  .projects h2 {
    margin-right: 30px;
  }
  .projects .featured--left .featured__txt h3, .projects .featured--left .featured__txt p, .projects .featured--left .featured__txt .btn {
    margin-right: 20px;
  }
  .projects .featured--right .featured__txt h3, .projects .featured--right .featured__txt p, .projects .featured--right .featured__txt .btn {
    margin-left: 20px;
  }
  #watchr .featured__img #show-cards {
    width: 800px;
    transform: translate(-80px, -30px);
  }
}

@media (max-width: 420px) {
  .hero {
    margin-bottom: 420px;
  }
  .hero__type {
    width: calc(100% - 20px);
    margin-top: 20px;
  }
  .hero__type__heading {
    font-size: 27px;
    line-height: 37px;
    color: #fff;
  }
  .hero__type__heading span {
    font-size: 37px;
  }
  .hero__type .btn {
    font-size: 17px;
  }
  .hero__img {
    top: 150px;
    left: 0px;
  }
  .hero__img__laptop {
    width: 470px;
    height: 470px;
    left: -115px;
  }
  .hero__img__laptop::after {
    width: 600px;
    height: 600px;
    top: -60%;
    right: -30%;
  }
  .projects .featured__img {
    height: 250px;
  }
  #camd .featured__img::after {
    display: none;
  }
  #camd .featured__img #graphic {
    font-size: 87px;
    transform: translate(115px, -80px) rotate(90deg);
  }
  #camd .featured__img #design {
    font-size: 140px;
    transform: translate(-90px, 18px);
  }
  #camd .featured__img #layout {
    width: 500px;
    height: 120px;
    transform: translate(-95px, 0px);
  }
  #josh .featured__img #josh-laptop {
    height: calc(100% + 100px);
    transform: translate(-20px, -20px);
  }
}

@media (max-width: 370px) {
  .hero {
    margin-bottom: 310px;
  }
  .hero__type {
    width: calc(100% - 15px);
    margin-top: 20px;
  }
  .hero__type__heading {
    font-size: 25px;
    line-height: 33px;
    color: #fff;
    margin-bottom: 15px;
  }
  .hero__type__heading span {
    font-size: 30px;
  }
  .hero__img {
    top: 140px;
    left: 0px;
  }
  .hero__img__laptop {
    width: 360px;
    height: 360px;
    left: -75px;
  }
  .hero__img__laptop::after {
    width: 600px;
    height: 600px;
    top: -95%;
    right: -40%;
  }
}
