#top-paint.hidden::after {
  width: 0%;
}

#top-paint.animate::after {
  transition: width 0.75s cubic-bezier(1, -0.3, 0.45, 1);
}

body {
  position: relative;
  width: 100vw;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  color: #000;
  font-family: 'CocogoosePro', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 15px;
  padding-top: 20px;
}

h2 span {
  display: inline-block;
}

h2:not(:root:root) {
  /* SAFARI */
  letter-spacing: -3px;
}

h2 #paint {
  color: #fff;
  position: relative;
  font-size: 50px;
  display: inline;
  /*
        &.left:active::after {
            transform: rotate(3deg);
        }
        &.right:active::after {
            transform: rotate(-3deg);
        }*/
}

h2 #paint a {
  color: #fff;
}

h2 #paint::after {
  content: '';
  position: absolute;
  background: #2980FF;
  width: 113%;
  height: 110%;
  right: -4%;
  top: -3%;
  border-radius: 3px;
  z-index: -1;
  transition: 0.2s ease-out;
}

h2 #paint.left::after {
  transform: rotate(-3deg);
}

h2 #paint.right::after {
  transform: rotate(3deg);
}

h3 {
  color: #000;
  font-family: 'CocogoosePro', sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  margin: 0;
}

h3:not(:root:root) {
  /* SAFARI */
  letter-spacing: -2px;
}

p {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 15px;
}

p span {
  display: inline-block;
}

.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

nav.animate {
  transition: background 0.1s ease-out, transform 0.2s ease-in-out;
}

nav.animate::before, nav.animate::after {
  transition: opacity 0.1s ease-out;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 10;
}

nav .nav__container {
  height: 55px;
  max-width: 1500px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

nav #logo {
  padding-left: 50px;
  width: 30px;
  height: 30px;
  background-image: url("../img/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

nav .nav-bar {
  padding-left: 0px;
  padding-right: 30px;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0px;
  right: 0;
  margin: 0;
  height: inherit;
}

nav .nav-bar__item {
  margin: 0;
  font-family: 'CocogoosePro', sans-serif;
  font-weight: normal;
  letter-spacing: 0px;
  font-size: 15px;
  display: inline-block;
  margin-left: 20px;
  color: #2980FF;
  padding: 3px 6px;
}

nav .nav-bar__item:last-child {
  padding-right: 0px;
}

nav .nav-bar__item:last-child.nav-bar__item--filled::after {
  width: calc(100% + 6px);
}

nav .nav-bar__item--filled {
  color: #fff;
  position: relative;
}

nav .nav-bar__item--filled::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100%);
  height: calc(100%);
  background: #2980FF;
  border-radius: 3px;
  z-index: -1;
}

nav .nav-bar__item--filled.left::after {
  transform: rotate(-2deg);
}

nav .nav-bar__item--filled.right::after {
  transform: rotate(2deg);
}

nav.nav--overlay {
  background: #fff;
}

nav.nav--hidden {
  transform: translateY(-100%);
}

.container {
  position: relative;
  width: 100vw;
  flex: 1;
  height: inherit;
  overflow-x: hidden;
}

.btn {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  border: 2px solid #000;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.btn::after {
  content: '';
  position: absolute;
  background: #2980FF;
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  border-radius: 4px;
  z-index: -1;
  transition: 0.15s ease-out;
}

.btn--left::after {
  right: 3px;
}

.btn--right::after {
  left: 3px;
}

.btn--top::after {
  bottom: 3px;
}

.btn--bot::after {
  top: 3px;
}

.btn.btn--left.btn--top:active::after, .btn.btn--left.btn--top:focus::after {
  transform: translate(10px, 10px);
}

.btn.btn--left.btn--bot:active::after, .btn.btn--left.btn--bot:focus::after {
  transform: translate(10px, -10px);
}

.btn.btn--right.btn--top:active::after, .btn.btn--right.btn--top:focus::after {
  transform: translate(-10px, 10px);
}

.btn.btn--right.btn--bot:active::after, .btn.btn--right.btn--bot:focus::after {
  transform: translate(-10px, -10px);
}

.btn--sm {
  font-size: 18px;
  padding: 10px 20px;
}

.contact {
  clear: both;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 250px;
  margin-bottom: 220px;
}

.contact .contact__heading {
  position: relative;
  display: inline-block;
}

.contact .contact__heading h2 {
  margin-left: 50px;
}

.contact .contact__heading h2 #paint::after {
  width: 110%;
  right: -7%;
  top: 14%;
}

.contact .contact__heading::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(calc(100% + 100px), calc(-50% - 20px));
  width: 1500px;
  height: 700px;
  background-image: url("../img/plane.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

footer {
  height: 32px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .footer__copy {
  display: inline-block;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-left: 15px;
}

footer .footer__links {
  display: inline-block;
  margin-right: 10px;
}

footer .footer__links #github, footer .footer__links #linkedin {
  height: 32px;
  width: auto;
  display: inline-block;
  margin-right: calc(10px - 4px);
}

@media (max-width: 1250px) {
  .contact {
    padding-top: 200px;
    margin-bottom: 200px;
  }
  .contact .contact__heading::after {
    transform: translate(calc(100% + 75px), -50%);
    width: 900px;
    height: 600px;
  }
  h2 {
    font-size: 32px;
    line-height: 42px;
  }
  h2:not(:root:root) {
    /* SAFARI */
    letter-spacing: -2px;
  }
  h2 #paint {
    font-size: 42px;
  }
}

@media (max-width: 1000px) {
  .contact {
    padding-top: 140px;
  }
}

@media (max-width: 825px) {
  .contact {
    padding-top: 120px;
  }
  .contact .contact__heading h2 {
    margin-left: 30px;
  }
  .contact .contact__heading::after {
    transform: translate(calc(100% + 60px), -50%);
    width: 800px;
  }
}

@media (max-width: 700px) {
  h2 {
    font-size: 28px;
    line-height: 35px;
  }
  h2 #paint {
    font-size: 35px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 18px;
    line-height: 27px;
  }
  .contact {
    padding-top: 150px;
    margin-bottom: 180px;
  }
  .contact .contact__heading::after {
    transform: translate(calc(100% + 50px), -50%);
    width: 700px;
  }
}

@media (max-width: 600px) {
  nav #logo {
    padding-left: 25px;
  }
  nav .nav-bar {
    padding-right: 15px;
  }
  nav .nav-bar__item {
    margin-left: 10px;
  }
  h2 {
    font-size: 26px;
    line-height: 34px;
  }
  h2 #paint {
    font-size: 36px;
  }
  .contact {
    padding-top: 300px;
    margin-bottom: 100px;
  }
  .contact .contact__heading h2 {
    margin-left: 20px;
  }
  .contact .contact__heading::after {
    transform: translate(calc(70% + 65px), calc(-50% - 20px)) rotate(180deg) scaleX(-1);
    width: 800px;
    height: 400px;
  }
}

@media (max-width: 485px) {
  .contact h2 {
    margin-left: 30px;
  }
}

@media (max-width: 370px) {
  nav #logo {
    width: 25px;
    height: 25px;
    padding-left: 25px;
  }
  nav .nav-bar {
    padding-right: 15px;
  }
  nav .nav-bar__item {
    margin-left: 5px;
    font-size: 14px;
  }
  .contact {
    padding-top: 270px;
    margin-bottom: 70px;
  }
  .contact .contact__heading::after {
    transform: translate(calc(65% + 65px), calc(-50% - 10px)) rotate(180deg) scaleX(-1);
    width: 650px;
    height: 400px;
  }
}

.filler {
  height: 200vh;
}

nav .nav-bar__item {
  color: #fff;
}

nav .nav-bar__item--filled {
  color: #2980FF;
  background: #fff;
}

nav.nav--overlay .nav-bar__item {
  color: #2980FF;
}

nav.nav--overlay .nav-bar__item--filled {
  color: #fff;
  background: #2980FF;
}

.master-container {
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 60px;
  overflow: visible;
  position: relative;
}

.container::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  transform: translate(40%, -45%);
  background: #2980FF;
  z-index: -1;
}

#title {
  position: relative;
  padding-top: 40px;
  color: #000;
  font-family: 'CocogoosePro', sans-serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 65px;
  max-width: 500px;
  margin: 0;
  margin-bottom: 30px;
  margin-left: 30px;
  padding-right: 30px;
}

#title:not(:root:root) {
  /* SAFARI */
  letter-spacing: -3px;
}

.main {
  white-space: normal;
  vertical-align: top;
}

.main #viewer {
  float: right;
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
  display: inline-block;
  width: 800px;
  padding-top: 800px;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image .3s ease;
}

.main .info {
  vertical-align: top;
  margin-left: 30px;
  display: inline-block;
  width: calc(100% - 900px);
}

.main .info__subtitle {
  color: #000;
  font-family: 'CocogoosePro', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 5px;
}

.main .info__body {
  margin: 0;
  margin-bottom: 30px;
  padding-right: 30px;
}

.slide-container {
  clear: right;
  position: relative;
  width: calc(100% - 60px);
  margin-left: 30px;
  margin-bottom: 40px;
  overflow-y: visible;
}

.slide-container::before, .slide-container::after {
  content: '';
  position: absolute;
  top: -10px;
  width: 30px;
  height: 160px;
  z-index: 4;
  transition: box-shadow 0.2s ease;
}

.slide-container::before {
  left: 0;
  transform: translateX(-100%);
  box-shadow: 20px 0px 20px -13px transparent;
}

.slide-container::after {
  right: 0;
  transform: translateX(100%);
  box-shadow: -20px 0px 20px -13px transparent;
}

.slide-container--left::before {
  box-shadow: 20px 0px 20px -13px rgba(0, 0, 0, 0.3);
}

.slide-container--right::after {
  box-shadow: -20px 0px 20px -13px rgba(0, 0, 0, 0.3);
}

.slide-container__indicator {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #2980FF;
  bottom: 0;
  transform-origin: center;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.slide-container__indicator--left {
  left: 0;
  transform: translateX(calc(-100% - 10px)) scale(1);
}

.slide-container__indicator--left.slide-container__indicator--hidden {
  transform: translateX(calc(-100% - 10px)) scale(0);
}

.slide-container__indicator--right {
  right: 0;
  transform: translateX(calc(100% + 10px)) scale(1);
}

.slide-container__indicator--right.slide-container__indicator--hidden {
  transform: translateX(calc(100% + 10px)) scale(0);
}

.slide-container .slide-list {
  height: 150px;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  overflow-y: visible;
  white-space: nowrap;
  position: relative;
}

.slide-container .slide-list::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  height: 0px;
  background: transparent;
  /* optional: just make scrollbar invisible */
}

.slide-container .slide-list #selector {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 125px;
  height: 12px;
  background: #2980FF;
  border-radius: 4px;
  z-index: 5;
  transform: translateX(0px);
  transition: transform 0.3s cubic-bezier(1, -0.3, 0.08, 0.97);
}

.slide-container .slide-list .slide__item {
  display: inline-block;
  width: 125px;
  height: 125px;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.slide-container .slide-list .slide__item--selected {
  cursor: default;
}

.slide-container .slide-list .slide__item:last-child {
  margin-right: 0px;
}

.directions .direction__dir {
  color: #000;
  font-family: 'CocogoosePro', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 3px;
}

.directions #previous, .directions #next {
  display: inline-block;
  position: relative;
}

.directions #previous::before, .directions #next::before {
  content: '';
  position: absolute;
  top: -5px;
  width: 30px;
  height: 30px;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.directions #previous {
  margin-left: 30px;
}

.directions #previous::before {
  left: 0;
  background-position: right;
}

.directions #previous .direction__dir, .directions #previous .direction__title {
  margin-left: 50px;
}

.directions #next {
  float: right;
  text-align: right;
  margin-right: 30px;
  margin-bottom: 30px;
}

.directions #next::before {
  right: 0;
  transform: rotate(180deg);
  background-position: left;
}

.directions #next .direction__dir, .directions #next .direction__title {
  margin-right: 50px;
}

@media (max-width: 1275px) {
  .container::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 750px;
    height: 750px;
    border-radius: 50%;
    transform: translate(40%, -30%);
    background: #2980FF;
    z-index: -1;
  }
  .main #viewer {
    width: 600px;
    padding-top: 600px;
  }
  .main .info {
    width: calc(100% - 700px);
  }
}

@media (max-width: 1000px) {
  nav .nav-bar__item {
    color: #2980FF;
  }
  nav .nav-bar__item--filled {
    color: #fff;
    background: #2980FF;
  }
  .container::after {
    display: none;
  }
  .main #viewer {
    display: block;
    float: none;
    margin-left: 30px;
    width: calc(100% - 60px);
    padding-top: calc(100% - 60px);
  }
  .main .info {
    width: calc(100% - 30px);
    display: block;
  }
  .main .info #info__tools {
    display: inline-block;
  }
  .main .info #info__year {
    float: right;
    display: inline-block;
  }
}

@media (max-width: 600px) {
  #title {
    margin-left: 20px;
    font-size: 40px;
    line-height: 50px;
  }
  .main #viewer {
    margin-left: 20px;
    width: calc(100% - 40px);
    padding-top: calc(100% - 40px);
  }
  .main .info {
    margin-left: 20px;
  }
  .main .info #info__tools {
    display: block;
  }
  .main .info #info__year {
    float: none;
    display: block;
  }
  .slide-container {
    width: calc(100% - 40px);
    margin-left: 20px;
  }
  .slide-container::before, .slide-container::after {
    height: 140px;
  }
  .slide-container__indicator {
    width: 10px;
    height: 10px;
  }
  .slide-container__indicator--left {
    left: 0;
    transform: translateX(calc(-100% - 5px)) scale(1);
  }
  .slide-container__indicator--left.slide-container__indicator--hidden {
    transform: translateX(calc(-100% - 5px)) scale(0);
  }
  .slide-container__indicator--right {
    right: 0;
    transform: translateX(calc(100% + 5px)) scale(1);
  }
  .slide-container__indicator--right.slide-container__indicator--hidden {
    transform: translateX(calc(100% + 5px)) scale(0);
  }
  .slide-container .slide-list {
    height: 120px;
  }
  .slide-container .slide-list #selector {
    width: 100px;
    height: 10px;
  }
  .slide-container .slide-list .slide__item {
    width: 100px;
    height: 100px;
  }
  .directions #previous {
    margin-bottom: 20px;
  }
  .directions #previous, .directions #next {
    display: block;
  }
}

@media (max-width: 500px) {
  .main #viewer {
    width: 100%;
    padding-top: 100%;
    border-radius: 0px;
    margin-left: 0px;
  }
}
