@import 'base';

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 100px;
    overflow: visible;
    position: relative;
}


#title {
    color: $black;
    font-family: 'CocogoosePro', sans-serif;
    font-weight: bold;
    &:not(:root:root) { /* SAFARI */
        letter-spacing: -3px;
    }
    font-size: 60px;
    line-height: 75px;
    margin: 0;
    span {
        color: $white;
        position: relative;
        font-size: 70px;
        &::after {
            content: '';
            position: absolute;
            background: $blue;
            width: 115%;
            height: 102%;
            left: -6%;
            top: -5%;
            transform: rotate(-3deg);
            border-radius: 3px;
            z-index: -1;
        }
    }
}
