@import 'base';

.hero {
    width: 100%;
    max-width: $maxwidth;
    margin: 0 auto;
    margin-top: 250px;
    margin-bottom: 60px;
    position: relative;
    overflow: visible;
    h1 {
        padding-left: 30px;
        color: $white;
        font-family: 'CocogoosePro', sans-serif;
        font-weight: bold;
        &:not(:root:root) { /* SAFARI */
            letter-spacing: -3px;
        }
        font-size: 70px;
        line-height: 75px;
        margin: 0;
        margin-bottom: 20px;
        padding-right: 30px;
        &::before {
            content: '';
            position: absolute;
            background: $blue;
            top: 0;
            left: 0;
            width: 700px;
            height: 700px;
            border-radius: 50%;
            transform: translate(-20%, -25%);
            z-index: -1;
        }
        span {
            position: relative;
            color: $blue;
            &::after {
                content: '';
                position: absolute;
                background: $white;
                width: 113%;
                height: 110%;
                left: -7%;
                top: -3%;
                border-radius: 3px;
                z-index: -1;
                transition: width 0.2s ease-out;
                transform: rotate(-3deg);
            }
        }
    }
    p {
        padding-left: 630px;
        padding-right: 30px;
        max-width: 750px;
    }
}

@media(max-width: 1200px) {
    .hero {
        p {
            padding-left: 600px;
        }
    }
}

@media(max-width: 1000px) {
    .hero {
        margin-top: 200px;
        margin-bottom: 60px;
        h1 {
            color: $black;
            margin-bottom: 40px;
            &::before {
                display: none;
            }
            span {
                color: $white;
                &::after {
                    background: $blue;
                }
            }
        }
        p {
            padding-left: 30px;
            font-weight: 400;
            color: $black;
        }
    }
}

@media(max-width: 700px) {
    .hero {
        h1 {
            font-size: 58px;
            line-height: 72px;
            margin-bottom: 25px;
            &::before {
                display: none;
            }
        }
    }
}

@media(max-width: 600px) {
    .hero {
        h1, p {
            padding-left: 20px;
        }
    }
}

@media(max-width: 400px) {
    .hero {
        margin-top: 150px;
    }
}
