@import 'hero';

.form--container {
    width: 100%;
    max-width: 1100px;
    background: $white;
    margin: 0 auto;
    margin-bottom: 30px;
    box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 15px;
    form {
        padding: 70px;
        box-sizing: border-box;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        z-index: 0;
        label {
            display: block;
            position: relative;
            color: $black;
            font-family: 'CocogoosePro', sans-serif;
            font-weight: normal;
            &:not(:root:root) { /* SAFARI */
                letter-spacing: -2px;
            }
            font-size: 22px;
            margin: 0;
            margin-bottom: 7px;
            &.required::after {
                content: ' *';
                font-family: 'Roboto', sans-serif;
                font-size: 22px;
                color: $red;
            }
            &.error {
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                margin-top: 5px;
                margin-bottom: 30px;
                color: $red;
            }
        }
        input[type="text"], input[type="email"], textarea {
            display: block;
            width: 100%;
            border: none;
            background: $gray-bg;
            padding: 10px 20px;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            border-radius: 5px;
            border: 2px solid transparent;
            transition: background 0.2s ease;
            &::-webkit-input-placeholder {
                color: $gray-txt;
            }
            &::-moz-input-placeholder {
                color: $gray-txt;
            }
            &::-ms-input-placeholder {
                color: $gray-txt;
            }
            &::-o-input-placeholder {
                color: $gray-txt;
            }
            &:focus {
                outline: none;
                border-color: $blue !important;
            }
            &.typed {
                background: $white;
                border-color: #DDDDDD;
            }
            &.error {
                border-color: $red;
            }
        }
        textarea {
            resize: none;
            line-height: 28px;
            height: 160px;
            margin-bottom: 60px;
        }
    }
}

.send {
    @include no-select();
    cursor: pointer;
    border-radius: 5px;
    background: $blue;
    display: inline-block;
    overflow: visible;
    position: relative;
    .wrapper {
        color: $white;
        font-family: 'CocogoosePro-Regular', sans-serif;
        font-size: 20px;
        border-radius: 5px;
        padding: 10px 50px 10px 20px;
        overflow: hidden;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 400px;
            height: 400px;
            background-image: url('../img/chat/plane-big.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            transform: translate(130px, calc(-50% + 22px)) rotate(180deg);
        }
        &::after {
            content: '';
            position: absolute;
            right: -10px;
            top: 12px;
            width: 20px;
            height: 20px;
            background-image: url('../img/chat/plane.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            transform: translate(-23px, 0px);
            transform-origin: bottom left;
            opacity: 1;
        }
    }
    &::before {
        content: '';
        position: absolute;
        right: -10px;
        top: 12px;
        width: 20px;
        height: 20px;
        background-image: url('../img/chat/plane-blue.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transform: translate(-23px, 0px);
        transform-origin: bottom left;
        z-index: -1;
    }
    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: -10px;
        width: calc(100% + 70px);
        height: calc(100% + 20px);
        background: $white;
        z-index: -1;
    }
    &--animate {
        .wrapper {
            &::before {
                animation: background 1.6s forwards ease;
            }
            &::after {
                animation: plane 1.6s forwards ease;
            }
        }
        &::before {
            animation: plane 1.6s forwards ease;
        }
    }
    &--sent {
        //background-color: #F2F2F2 !important;
        //transition: background 0.2s ease;
        .wrapper {
            color: $blue;//$black;
            &::before, &::after {
                display: none;
            }
        }
    }
    &--blank {
        cursor: default;
        background-color: $white;
        .wrapper {
            padding-right: 0px;
            padding-left: 0px;
            font-size: 25px;
            transition: color 0.2s ease;
        }
    }
}

@keyframes plane {
    0% {
        transform: translate(-23px, 0);
    },
    10% {
        transform: translate(-30px, 0) rotate(-10deg);
    },
    20% {
        transform: translate(200px, 0px) rotate(5deg) scale(1.5);
    },
    50% {
        transform: translate(200px, -25px) rotate(180deg) scale(1.5);
    },
    90% {
        transform: translate(-160px, -40px) rotate(180deg) scale(3);
    },
    100% {
        transform: translate(-160px, -40px) rotate(180deg) scale(3);
    }
}

@keyframes background {
    58% {
        transform: translate(130px, calc(-50% + 22px)) rotate(180deg);
    },
    90% {
        transform: translate(-105px, calc(-50% + 22px)) rotate(180deg);
    },
    100% {
        transform: translate(-105px, calc(-50% + 22px)) rotate(180deg);
    }
}

@media(max-width: 1100px) {
    .form--container {
        border-radius: 0px;
        box-shadow: none;
    }
}

@media(max-width: 1000px) {
    .form--container {
        form {
            padding: 0 30px;
        }
    }
}
