@import 'base';
@import 'floating';

nav {
    .nav-bar {
        &__item {
            color: $white;
            &--filled {
                color: $blue;
                &::after {
                    background: $white;
                }
            }
        }
    }
    &.nav--overlay {
        .nav-bar {
            &__item {
                color: $blue;
                &--filled {
                    color: $white;
                    &::after {
                        background: $blue;
                    }
                }
            }
        }
    }
}

.hero {
    position: relative;
    width: 100%;
    max-width: $maxwidth;
    margin: 0 auto;
    padding-top: 60px;
    margin-bottom: 300px;
    &__type {
        position: relative;
        margin-top: 350px;
        display: inline-block;
        width: 48%;
        padding-right: 20px;
        z-index: 5;
        &__heading {
            color: $black;
            font-family: 'CocogoosePro', sans-serif;
            font-weight: bold;
            &:not(:root:root) { /* SAFARI */
                letter-spacing: -3px;
            }
            font-size: 60px;
            line-height: 75px;
            text-align: right;
            margin: 0;
            margin-bottom: 20px;
            span {
                color: $white;
                position: relative;
                font-size: 70px;
                &::after {
                    content: '';
                    position: absolute;
                    background: $blue;
                    width: 125%;
                    height: 102%;
                    left: -18%;
                    top: -5%;
                    transform: rotate(3deg);
                    border-radius: 3px;
                    z-index: -1;
                }
            }
        }
        .btn {
            float: right;
        }
    }
    &__img {
        display: inline-block;
        position: absolute;
        &__laptop {
            width: 800px;
            height: 800px;
            background-image: url("../img/laptop.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width: 120%;
                height: 120%;
                border-radius: 50%;
                top: -30%;
                right: -30%;
                background: $blue;
                z-index: -2;
            }
        }
    }
}

.introduction {
    position: relative;
    width: 100%;
    max-width: $maxwidth;
    margin: 0 auto;
    margin-bottom: 120px;
    p {
        max-width: 550px;
        padding-right: 30px;
    }
    h2 {
        margin-left: 50px;
        padding-right: 30px;
    }
    .btn, p {
        margin-left: 120px;
    }
    #hidden {
        display: none;
    }
}

.floating {
    h2 {
        margin-bottom: 40px;
    }
}

#watchr {
    .floating__section__img {
        background: #0F1923;
        &::before, &::after {
            content: '';
            position: absolute;
            background: $white;
            z-index: 2;
        }
        &::before {
            width: 110%;
            height: 150px;
            bottom: 0;
            left: 0;
            transform: translateY(100%);
        }
        &::after {
            height: 100%;
            width: 150px;
            top: 0;
            right: 0;
            transform: translateX(100%);
        }
        #show-cards {
            position: absolute;
            top: 0;
            width: 1190px;
            transform: translate(-60px, -45px);
        }
    }
}

#camd {
    .floating__section__img {
        background: #F7F7F7;
        z-index: 3;
        &::before, &::after {
            content: '';
            position: absolute;
            background: $white;
            left: 0;
            z-index: 5;
        }
        &::before {
            width: 100%;
            height: 40px;
            bottom: 0;
            transform: translateY(100%);
        }
        &::after {
            height: 100%;
            width: 30px;
            transform: translateX(-100%);
        }
        #graphic, #design {
            display: inline-block;
            position: absolute;
            font-family: 'Helvetica', 'Arial', sans-serif;
            bottom: 0;
            right: 0;
        }
        #graphic {
            color: $black;
            opacity: 0.4;
            font-size: 140px;
            transform: translate(130px, -120px) rotate(90deg);
        }
        #design {
            color: #76CABE;
            font-size: 278px;
            transform: translate(-200px, 35px);
        }
        #layout {
            position: absolute;
            width: 750px;
            height: 170px;
            right: 0;
            top: 0;
            transform: translate(-207px, 0px);
            background: url("../img/camd.png");
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat;
        }
    }
}

#josh {
    .floating__section__img {
        &::before, &::after {
            content: '';
            position: absolute;
            background: $white;
            z-index: 2;
        }
        &::before {
            width: 110%;
            height: 90px;
            bottom: 0;
            left: 0;
            transform: translateY(100%);
        }
        #josh-laptop {
            position: absolute;
            top: 0;
            height: calc(100% + 120px);
            transform: translate(40px, -40px);
        }
    }
}

@media(max-width: $maxwidth) {
    .hero {
        &__type {
            margin-top: 300px;
            &__heading {
                font-size: 50px;
                line-height: 65px;
                span {
                    font-size: 60px;
                }
            }
        }
        &__img__laptop {
            width: 750px;
            height: 750px;
        }
    }
}

@media (max-width: 1250px) {
    .hero {
        margin-bottom: 250px;
        &__type {
            width: 50%;
            margin-top: 250px;
            &__heading {
                font-size: 40px;
                line-height: 50px;
                &:not(:root:root) { /* SAFARI */
                    letter-spacing: -2px;
                }
                span {
                    font-size: 50px;
                }
            }
        }
        &__img__laptop {
            width: 600px;
            height: 600px;
        }
    }
    .introduction {
        margin-bottom: 100px;
    }
}

@media (max-width: 1000px) {
    nav {
        #logo {
            background-image: url("../img/logo-white.png");
        }
        &.nav--overlay {
            background: $blue;
            &::before, &::after {
                background: $blue;
            }
            .nav-bar {
                &__item {
                    color: white;
                    &--filled {
                        color: $blue;
                        background: $white;
                    }
                }
            }
        }
    }
    .hero {
        margin-bottom: 360px;
        &__type {
            width: calc(100% - 40px);
            margin-top: 210px;
            &__heading {
                color: $white;
                span {
                    color: $blue;
                    &::after {
                        background: $white;
                        width: 110%;
                        left: -5%;
                        right: -5%;
                        top: -5%;
                    }
                }
            }
            .btn {
                color: $blue;
                border: none;
                background: $white;
                font-weight: 500;
                &::after {
                    background: none;
                    width: 100%;
                    height: 100%;
                    bottom: -6px;
                    left: -6px;
                    border: 2px solid $white;
                }
                &.btn--top.btn--right:active::after, &.btn--top.btn--right:focus::after {
                    transform: none;
                }
            }
        }
        &__img {
            top: 70px;
            left: 0px;
            &__laptop {
                width: 670px;
                height: 670px;
                left: -80px;
                &::after {
                    width: 1150px;
                    height: 1150px;
                    top: -75%;
                    right: -79%;
                }
            }
        }
    }
    .introduction {
        margin-bottom: 80px;
    }
}

@media(max-width: 825px) {
    .hero {
        margin-bottom: 300px;
        &__type {
            width: calc(100% - 30px);
            margin-top: 150px;
            &__heading {
                font-size: 35px;
                line-height: 45px;
                color: $white;
                span {
                    font-size: 45px;
                }
            }
        }
        &__img {
            &__laptop {
                width: 550px;
                height: 550px;
                &::after {
                    width: 1000px;
                    height: 1000px;
                    top: -90%;
                    right: -85%;
                }
            }
        }
    }
    .introduction {
        h2 {
            margin-left: 30px;
        }
        .btn, p {
            margin-left: 70px;
        }
    }
    #watchr {
        .floating__section__img {
            #show-cards {
                transform: translate(-120px, -55px);
            }
        }
    }
    #camd {
        .floating__section__img {
            &::after {
                display: none;
            }
            #graphic {
                font-size: 125px;
                transform: translate(130px, -105px) rotate(90deg);
            }
            #design {
                font-size: 240px;
                transform: translate(-165px, 35px);
            }
            #layout {
                height: 140px;
                transform: translate(-170px, 0px);
            }
        }
    }
}

@media(max-width: 700px) {
    .hero {
        &__type {
            width: calc(100% - 20px);
            margin-top: 150px;
            &__heading {
                font-size: 32px;
                line-height: 42px;
                color: $white;
                span {
                    font-size: 42px;
                }
            }
        }
        &__img {
            &__laptop {
                width: 550px;
                height: 550px;
                left: -130px;
                &::after {
                    width: 1000px;
                    height: 1000px;
                    top: -90%;
                    right: -85%;
                }
            }
        }
    }
    #josh {
        .floating__section__img {
            #josh-laptop {
                height: calc(100% + 100px);
                transform: translate(30px, -20px);
            }
        }
    }
}

@media(max-width: 600px) {
    nav {
        #logo {
            padding-left: 25px;
        }
        .nav-bar {
            padding-right: 15px;
            &__item {
                margin-left: 10px;
            }
        }
    }
    .hero {
        margin-bottom: 500px;
        &__type {
            width: calc(100% - 20px);
            margin-top: 20px;
            &__heading {
                color: $white;
                margin-bottom: 30px;
            }
        }
        &__img {
            top: 160px;
            left: 0px;
            &__laptop {
                left: -115px;
                &::after {
                    top: -120%;
                    right: -50%;
                }
            }
        }
    }
    .introduction {
        h2 {
            margin-left: 20px;
        }
        .btn, p {
            margin-left: 50px;
        }
    }
    #watchr {
        .floating__section__img::before {
            height: 300px;
        }
    }
    #camd {
        .floating__section__img {
            &::after {
                display: none;
            }
            #graphic {
                font-size: 105px;
                transform: translate(115px, -90px) rotate(90deg);
            }
            #design {
                font-size: 170px;
                transform: translate(-135px, 18px);
            }
            #layout {
                width: 630px;
                height: 140px;
                transform: translate(-150px, 0px);
            }
        }
    }
}

@media(max-width: 485px) {
    .introduction {
        h2 {
            margin-bottom: 12px;
            #paint {
                &::after {
                    width: 110%;
                }
            }
        }
        #hidden {
            display: block;
        }
        h2, p, .btn {
            margin-left: 30px;
        }
        p {
            margin-bottom: 18px;
        }
    }
    #watchr {
        .floating__section__img {
            #show-cards {
                width: 800px;
                transform: translate(-80px, -30px);
            }
        }
    }
}

@media(max-width: 420px) {
    .hero {
        margin-bottom: 420px;
        &__type {
            width: calc(100% - 20px);
            margin-top: 20px;
            &__heading {
                font-size: 27px;
                line-height: 37px;
                color: $white;
                span {
                    font-size: 37px;
                }
            }
            .btn {
                font-size: 17px;
            }
        }
        &__img {
            top: 150px;
            left: 0px;
            &__laptop {
                width: 470px;
                height: 470px;
                left: -115px;
                &::after {
                    width: 600px;
                    height: 600px;
                    top: -60%;
                    right: -30%;
                }
            }
        }
    }
    #camd {
        .floating__section__img {
            &::after {
                display: none;
            }
            #graphic {
                font-size: 87px;
                transform: translate(115px, -80px) rotate(90deg);
            }
            #design {
                font-size: 140px;
                transform: translate(-90px, 18px);
            }
            #layout {
                width: 500px;
                height: 120px;
                transform: translate(-95px, 0px);
            }
        }
    }
    #josh {
        .floating__section__img {
            #josh-laptop {
                height: calc(100% + 100px);
                transform: translate(-20px, -20px);
            }
        }
    }
}

@media(max-width: 370px) {
    .hero {
        margin-bottom: 310px;
        &__type {
            width: calc(100% - 15px);
            margin-top: 20px;
            &__heading {
                font-size: 25px;
                line-height: 33px;
                color: $white;
                margin-bottom: 15px;
                span {
                    font-size: 30px;
                }
            }
        }
        &__img {
            top: 140px;
            left: 0px;
            &__laptop {
                width: 360px;
                height: 360px;
                left: -75px;
                &::after {
                    width: 600px;
                    height: 600px;
                    top: -95%;
                    right: -40%;
                }
            }
        }
    }
}
