@import 'hero';

.case-studies, .projects {
    clear: both;
    width: 100%;
    max-width: $maxwidth;
    margin: 0 auto;
    h2 {
        text-align: right;
        margin-right: 30px;
        margin-bottom: 40px;
    }
}

.projects-list {
    margin: 0;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &::after {
        content: "";
        flex: 1 1 100%;
        max-width: 32%
    }
    .project {
        width: 32%;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        position: relative;
        &__img {
            width: 100%;
            padding-top: 60%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: $blue;
            border-radius: 10px;
            margin-bottom: 15px;
        }
        &__title {
            color: $black;
            font-family: 'CocogoosePro', sans-serif;
            font-weight: normal;
            font-size: 25px;
            line-height: 25px;
            margin: 0;
            margin-bottom: 10px;
        }
        &__year {
            color: $gray;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            line-height: 24px;
            margin: 0;
            margin-bottom: 13px;
            font-weight: 400;
            max-width: 75%;
            flex-grow: 1;
            span {
                display: inline-block;
            }
        }
    }
}

#watchr {
    .project__img {
        background: #0F1923;
        position: relative;
        overflow: hidden;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 300%;
            height: 105%;
            transform: translate(-7%, 3%);
            background-image: url("../img/watchr.png");
            background-position: left;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

#josh-pensky {
    .project__img {
        position: relative;
        overflow: hidden;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 120%;
            height: 105%;
            transform: translate(5%, 8%);
            background-image: url("../img/laptop.png");
            background-position: left;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

.case-studies {
    .projects-list {
        .project {
            width: 48.5%;
            &__img {
                padding-top: 120%;
                border-radius: 15px;
            }
        }
    }
}

.projects {
    h2 {
        margin-top: 40px;
    }
    .projects-list {
        .project {
            &:last-child {
                margin-bottom: 15%;
            }
        }
    }
}

@media(max-width: 1000px) {
    .projects-list {
        .project {
            &__title {
                font-size: 22px;
                line-height: 22px;
            }
        }
    }
    .projects {
        .projects-list {
            .project {
                width: 48.5%;
                border-radius: 15px;
            }
        }
    }
}

@media(max-width: 650px) {
    .projects, .case-studies {
        .projects-list {
            .project {
                width: 100%;
            }
        }
    }
}

@media (max-width: 600px) {
    .projects {
        .projects-list {
            .project {
                &:last-child {
                    margin-bottom: 300px;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .projects-list {
        padding: 0;
        .project {
            &__img {
                border-radius: 0px;
            }
            &__title, &__year {
                padding: 0 20px;
            }
            .btn {
                margin-left: 20px;
            }
        }
    }
    .projects {
        .projects-list {
            .project {
                &:last-child {
                    margin-bottom: 270px;
                }
            }
        }
    }
}
