/* Webfont: CocogoosePro-Regular */@font-face {
    font-family: 'CocogoosePro';
    src: url('CocogoosePro-Regular.eot'); /* IE9 Compat Modes */
    src: url('CocogoosePro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('CocogoosePro-Regular.woff') format('woff'), /* Modern Browsers */
         url('CocogoosePro-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('CocogoosePro-Regular.svg#CocogoosePro-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

