<footer>
    <div class="footer__copy">&copy; 2018 Josh Pensky</div>
    <div class="footer__links">
        <a href="https://dribbble.com/joshpensky" target="_blank" rel="noreferrer noopener">
            <img id="dribbble" src="/img/github.png" />
        </a>
        <a href="https://github.com/joshpensky" target="_blank" rel="noreferrer noopener">
            <img id="github" src="/img/github.png" />
        </a>
        <a href="https://www.linkedin.com/in/joshpensky/" target="_blank" rel="noreferrer noopener">
            <img id="linkedin" src="/img/linkedin.png" />
        </a>
    </div>
</footer>
<script>
    window.addEventListener("load", () => {
        var topPaint = document.getElementById('top-paint');
        if (topPaint) {
            topPaint.classList.remove("hidden");
            setTimeout(() => {topPaint.classList.remove("animate");}, 800);
        }
    });
    WebFont.load({
        google: {
            families: ['Roboto:400,500']
        }
    });
</script>