<nav>
    <div class="nav__container">
        <a href="/index.html">
            <div id="logo"></div>
        </a>
        <ul class="nav-bar">
            <a href="/about.html" class="nav-bar__item @@if (select === 1) {nav-bar__item--filled} left">about</a>
            <a href="/projects.html" class="nav-bar__item @@if (select === 2) {nav-bar__item--filled} right">projects</a>
            <a href="/chat.html" class="nav-bar__item @@if (select === 3) {nav-bar__item--filled} left">let's chat</a>
        </ul>
    </div>
</nav>